---
interface Props {
  photos: {
    src: string;
    alt: string;
  }[];
}

const { photos } = Astro.props;
---

<div class="photo">
  {
    photos.map((p, i, a) => (
      <img
        src={p.src}
        alt={p.alt}
        class={i === 0 && a.length > 1 ? "can-hide" : ""}
      />
    ))
  }
</div>

<style>
  .photo {
    max-width: 182px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--line-color-1);
    display: grid;
    margin: auto auto auto auto;
    background-color: var(--primary-background-color);

    & img {
      max-width: 162px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      transition: opacity 0.2s ease-in-out;
      z-index: 999;
      border: 1px solid var(--line-color-1);
    }
  }

  .photo img.can-hide {
    z-index: 1000;
  }

  .photo img.can-hide:hover {
    opacity: 0.05;
  }
</style>
